.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
label{
  display: flex;
  margin: 5px;
  font-size: 18px;
}
.formControl{
  margin-bottom: 20px;
}
input{
  width: 400px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  padding: 6px 12px;
  background-color: #fff;
  color: #444;

}
button{
 margin-top: 20px; 
 padding: 6px 15px;
 border: 1px solid #ccc;
 border-radius: 5px;
 cursor: pointer;
 

}